.header {
    padding: 20px 0px;
    background: #343a40;
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    left: 0px;
    z-index: 3;
    color: #fff;

    .brand {
        display: inline-block;
        margin-right: 30px;
        font-weight: bold;
        font-size: 18px;
    }
    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        li {
            display: inline-block;
            margin-right: 20px;
            a {
                color: #fff;
            }
        }
    }
}
