.item {
    cursor: pointer;
    transition: all 0.3s ease-in;
    box-sizing: border-box;
    display: inline-flex;

    align-items: center;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    font-weight: 500;
    &.activeItem {
        background: blue;

        color: #fff;
    }
}
